<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Admin Domo Register</title>
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
</head>

<body>
    <div class="login-card">
        <h1>Admin Domo Register</h1><br>
        <form action="/signup" method="POST">
            <input type="text" name="firstName" placeholder="Username">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" class="login login-submit" value="Login">
        </form>
    </div>
</body>

</html>